In [4]:
from datetime import datetime, date

import pandas as pd
import numpy as np

In [14]:
# Load dataframes

crime_df = pd.read_csv("./datasets/BPD_Part_1_Victim_Based_Crime_Data.csv")
income_df = pd.read_csv("./datasets/Vital_Signs_16_Census_Demographics.csv")
service_df = pd.read_csv("./datasets/311_Customer_Service_Requests.csv")

/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Begin processing Crime Dataframe

In [16]:
start = datetime(2014, 1, 1, 0, 0, 0)
end = datetime(2016, 12, 31, 23, 59, 59)

print(start)
print(end)

2014-01-01 00:00:00
2016-12-31 23:59:59

In [17]:
# Preprocess crime data from BDP Dataset
crime_datetime = []
crime_descript = []
crime_district = []
crime_neighbor = []
crime_datetimeofyear = []

# Iterate through all rows, attempt to get datetime columns parsed and working
for index, row in df.iterrows():
    datetime_str = "{} {}".format(row["CrimeDate"], row["CrimeTime"])

    worked_first_parse = False
    
    try:
        datetime_processed = datetime.strptime(datetime_str, '%m/%d/%Y %H:%M:%S')
        worked_first_parse = True
        
    except ValueError as e:
        pass

    if not worked_first_parse:
        try:
            datetime_processed = datetime.strptime(datetime_str, '%m/%d/%Y %H%M')
        except ValueError as e:
            continue

    if start <= datetime_processed <= end:
        pd_dt = pd.to_datetime(datetime_processed)

        crime_datetime.append(pd_dt)
        crime_datetimeofyear.append(pd_dt.dayofyear)
        crime_descript.append(row["Description"])
        crime_district.append(row["District"])
        crime_neighbor.append(row["Neighborhood"])

    if datetime_processed < start:
        break

# Append to a new dataframe
crime = {
    'Datetime': crime_datetime,
    'Day of the Year': crime_datetimeofyear,
    'Description': crime_descript,
    'District': crime_district,
    'Neighborhood': crime_neighbor
}

processed_crime_df = pd.DataFrame(data=crime)

In [11]:
# wow = crime_df.groupby(['Day of the Year', "Neighborhood"]).size().reset_index(name="WOW")

# print(wow)
# crime_df.to_csv("lmao.csv", encoding="utf-8")

       Day of the Year               Neighborhood  WOW
0                    1                  Allendale    1
1                    1                    Barclay    1
2                    1                    Bayview    2
3                    1              Belair-Edison    4
4                    1             Better Waverly    1
5                    1              Beverly Hills    1
6                    1                 Boyd-Booth    1
7                    1       Bridgeview/Greenlawn    1
8                    1                   Brooklyn    4
9                    1             Butcher's Hill    1
10                   1                       CARE    2
11                   1                     Canton    1
12                   1     Canton Industrial Area    1
13                   1  Carroll - Camden Industri    3
14                   1                    Cedmont    2
15                   1       Central Park Heights    2
16                   1              Charles North    2
17                   1                Cherry Hill    6
18                   1  Coldstream Homestead Mont    2
19                   1                 Curtis Bay    2
20                   1                    Cylburn    1
21                   1                   Dolfield    1
22                   1                   Downtown    6
23                   1            Dunbar-Broadway    1
24                   1          Edmondson Village    1
25                   1      Ellwood Park/Monument    1
26                   1               Evesham Park    1
27                   1                  Fallstaff    1
28                   1               Federal Hill    2
29                   1                Fells Point    7
...                ...                        ...  ...
35322              366  Northwest Community Actio    1
35323              366                Old Goucher    4
35324              366                    Oldtown    1
35325              366                     Oliver    1
35326              366                Park Circle    1
35327              366         Parkview/Woodbrook    2
35328              366  Patterson Park Neighborho    3
35329              366                 Penn North    1
35330              366     Pimlico Good Neighbors    1
35331              366    Pulaski Industrial Area    3
35332              366                 Ramblewood    1
35333              366       Reisterstown Station    2
35334              366             Rognel Heights    1
35335              366                   Rosemont    1
35336              366  Rosemont Homeowners/Tenan    1
35337              366              Saint Josephs    3
35338              366        Seton Business Park    1
35339              366                 Seton Hill    1
35340              366            South Baltimore    2
35341              366                    Tremont    1
35342              366                    Uplands    1
35343              366            Washington Hill    1
35344              366  Washington Village/Pigtow    2
35345              366                    Waverly    1
35346              366             West Arlington    1
35347              366           West Forest Park    1
35348              366                   Westport    1
35349              366                 Winchester    1
35350              366         Woodbourne Heights    1
35351              366                   Woodmere    1

[35352 rows x 3 columns]

# Begin processing Income Dataframe

In [18]:
income_df.head(5)

,OBJECTID,CSA2010,tpop10,male10,female10,paa16,pwhite16,pasi16,p2more16,ppac16,...,mhhi16,hh25inc16,hh40inc16,hh60inc16,hh75inc16,hhm7516,hhpov16,hhchpov16,Shape__Area,Shape__Length
0,1,Allendale/Irvington/S. Hilton,16217,7246,8971,87.409876,8.651924,0.242351,2.096334,0.000000,...,37302.17105,34.895493,19.790986,17.929458,13.177662,14.206401,21.282648,34.727823,0.000619,0.123711
1,2,Beechfield/Ten Hills/West Hills,12264,5566,6698,78.662984,15.657531,0.431981,3.059273,0.566532,...,53565.07970,19.178842,16.145737,21.768078,10.430923,32.476419,11.589846,21.220847,0.000464,0.115561
2,3,Belair-Edison,17416,7891,9525,85.323947,9.891421,0.536929,2.201408,0.686076,...,40482.35965,34.003378,15.625000,20.675676,6.689189,23.006757,19.592153,36.126984,0.000436,0.102119
3,4,Brooklyn/Curtis Bay/Hawkins Point,14243,6981,7262,40.647586,40.690951,1.178086,3.476438,1.098583,...,38603.93023,33.125520,18.370740,21.799667,8.686617,18.017456,26.333747,46.447508,0.001706,0.478724
4,5,Canton,8100,4011,4089,3.409924,86.494745,3.996578,2.517722,0.415546,...,103281.83220,8.800798,7.479432,9.922713,7.703815,66.093244,2.260274,2.994012,0.000149,0.072595